* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(115,59,222);
    background: linear-gradient(140deg, rgba(115,59,222,1) 0%, rgba(47,0,66,1) 100%);
    padding: 0 2%;
}

#root {
    width: 100%;
}

.weather-body {
    position: relative;
    min-height: 500px;
    background: rgba(0, 0, 0, .5) url("../public/background.jpg");
    background-blend-mode: darken;
    background-size: cover;
}

.current-weather input {
    height: 40px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
}

.current-weather input:focus {
    background: rgba(255, 255, 255, 0.3);
}

.current-weather input::placeholder {
    color: white;
}

.current-weather form button.btn {
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    border-radius: 50%;
}

.city-name {
    margin-top: -10px;
}

.country {
    width: fit-content;
    background: rgba(255, 255, 255, 0.2);
    padding: 3px 12px;
}

.right-icons {
    width: 30px;
}

.icons-forecast img {
    width: 25px;
}

.weather-status {
    font-size: 14px;
}

.card-weather {
    transition: 0.3s;
    cursor: pointer;
}

.card-weather:nth-child(2n + 1) {
    background: rgba(255, 255, 255, 0.2);
}

.card-weather:hover {
    
}

.card-weather .date {
    font-size: 12px;
    font-style: italic;
}